<div style="display: flex; justify-content: center; align-items: center; height: 95vh">
  <div class="chat-container">
    <div class="chat-box" id="chat-box">
      @for (message of listMessages; track message){
     <div class="message" [ngClass]="{'bot': message.isSystem(), 'user': !message.isSystem()}">
       <div class="message-display">
         <div class="message-content">{{ message.message }}</div>
         <div class="message-time">{{ message.messageDate }}</div>
       </div>
     </div>
      }
    </div>
    <div class="input-area">
      <input type="text" id="user-input" placeholder="Type your message..."
             [(ngModel)]="currentMessage"
      (keydown.enter)="sendMessage()"
      />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
